# this is the systemd unit file for Oragono on the testnet.
# it is installed at /etc/systemd/system/oragono.service
# after installing it, you must run:
# systemctl daemon-reload
# systemctl enable oragono.service
# systemctl start oragono.service

[Unit]
Description=A modern IRC server written in Go
After=network.target

[Service]
Type=simple
User=oragono
Group=oragono
WorkingDirectory=/home/oragono
ExecStart=/home/oragono/oragono run
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
